<dui-table style="height: 100%;" multiSelect [items]="datasource" [selectable]="true" (dbclick)="itemClicked($event)">
<dui-table-column name="titleTag" header="Title" [width]="300"></dui-table-column>
  <dui-table-column name="artistTag" header="Artist" [width]="300"></dui-table-column>
  <dui-table-column name="albumTag" header="Album" [width]="250"></dui-table-column>
  <dui-table-column name="genreTag" header="Genre" [width]="100"></dui-table-column>
  <dui-table-column name="bpmTag" header="BPM" [width]="70"></dui-table-column>
  <dui-table-column name="yearTag" header="Year" [width]="80"></dui-table-column>
  <dui-table-column name="keyTag" header="Key" [width]="40"></dui-table-column>
  <dui-table-column name="filename" header="Filename" [width]="700"></dui-table-column>
</dui-table>
