#container {
  height: 75px;
  width: 400px;
  background-color: #3c3c3c;
  color: #dedede;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 120%;
}

.artist {
  font-size: 85%;
}

dui-slider {
  margin-top: 10px;
  width: 90% !important;
}
