#container {
  height: 100%;
  width: 400px;
  background-color: #252525;
  color: #dedede;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 14px;
}

.artist {
  margin-bottom: 13px;
}

dui-slider {
  margin-bottom: 10px;
  width: 90% !important;
}
