#container {
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#status {
  height: 85px;
  width: 400px;
  background-color: #3c3c3c;
  color: #d9d9c8;
  display: flex;
  justify-content: center;
  align-items: center;
}
