app-player-status {
  margin: auto;
  height: 100%;
}

dui-window-header {
  width: 100%;
  padding: 0;
}

dui-button-group {
  position: absolute !important;
  margin-left: 15px !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}
