app-player-controls {
  align-items: center;
  width: 180px;
  height: 60px;
}

app-player-status {
  width: 400px;
  height: 100%;
}


#buttons {
  width: 180px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
