<dui-form>
  <dui-form-row label="Filename">
    <dui-input [readonly]="true" [(ngModel)]="item.filename"></dui-input>
  </dui-form-row>
  <dui-form-row label="Title">
    <dui-input [(ngModel)]="item.titleTag"></dui-input>
  </dui-form-row>
  <dui-form-row label="Artist">
    <dui-input [(ngModel)]="item.artistTag"></dui-input>
  </dui-form-row>
  <dui-form-row label="Album">
    <dui-input [(ngModel)]="item.albumTag"></dui-input>
  </dui-form-row>
  <dui-form-row label="Genre">
    <dui-input [(ngModel)]="item.genreTag"></dui-input>
  </dui-form-row>
  <dui-form-row label="BPM">
    <dui-input [(ngModel)]="item.bpmTag"></dui-input>
  </dui-form-row>
  <dui-form-row label="Year">
    <dui-input [(ngModel)]="item.yearTag"></dui-input>
  </dui-form-row>
  <dui-form-row label="Key">
    <dui-input [(ngModel)]="item.keyTag"></dui-input>
  </dui-form-row>
</dui-form>
<app-art-detail></app-art-detail>

