<dui-window [closable]="true" [maximizable]="true" [minimizable]="true">
  <dui-window-header>
    {{ title }}
    <dui-window-toolbar>
      <dui-button-group>
        <dui-button textured icon="folder" (click)="openFolder()"
          >Open Folder</dui-button
        >
      </dui-button-group>
      <dui-button-group>
        <dui-button
          textured
          icon="edit"
          [disabled]="!haveData"
          (click)="showCleaner()"
          >Clean Filenames</dui-button
        >
        <dui-button
          textured
          icon="flag"
          [disabled]="!haveData"
          (click)="showTagExtrDialog()"
          >Tags from Filenames</dui-button
        >
        <dui-button *ngIf="haveChanges"
          textured
          icon="check"
          (click)="saveChanges()"
          >Save Tags</dui-button
        >

      </dui-button-group>
      <dui-button-group float="right">
        <dui-input
          textured
          icon="search"
          placeholder="Search"
          round
          clearer
        ></dui-input>
      </dui-button-group>
    </dui-window-toolbar>
  </dui-window-header>
  <dui-window-content>
    <app-tracklist [datasource]="trackItems" (showDetail)="openDetailDialog($event)"></app-tracklist>
  </dui-window-content>
  <!-- Info Dialog -->
  <dui-dialog [(visible)]="savedInfoDialog" [minWidth]="300" #saved>
    <p>Tags Saved</p>
    <dui-dialog-actions>
      <dui-button (click)="savedInfoDialog = false" closeDialog primary>Ok</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
  <!-- Detail Dialog -->
  <dui-dialog [(visible)]="detailDialog" [width]="800" #detail>
    <app-detail *ngIf="itemSelected" [item]="itemSelected"></app-detail>
    <dui-dialog-actions>
      <dui-button (click)="closeDetailDialog()">Close</dui-button>
      <dui-button (click)="saveChanges()" primary>Save</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
  <dui-dialog [(visible)]="cleanerDialog" [minWidth]="800" #cleaner>
    <app-cleaner-view (change)="setDirtyText($event)"></app-cleaner-view>
    <dui-dialog-actions>
      <dui-button closeDialog>Close</dui-button>
      <dui-button (click)="cleanFilenames()" primary>Clean Files</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
  <dui-dialog
    *ngIf="sampleItem"
    [(visible)]="tagsExtrDialog"
    [minWidth]="800"
    #tagsExtract
  >
    <h3>Filename To Tags</h3>
    <dui-form-row label="Filename">
      <dui-input readonly [ngModel]="sampleItem.filename"></dui-input>
    </dui-form-row>
    <dui-form-row label="Title">
      <dui-input readonly [ngModel]="sampleItem.titleTag"></dui-input>
    </dui-form-row>
    <dui-form-row label="Artist">
      <dui-input readonly [ngModel]="sampleItem.artistTag"></dui-input>
    </dui-form-row>
    <dui-dialog-actions>
      <dui-button closeDialog>Close</dui-button>
      <dui-button (click)="filenamesToTags()" primary>Convert Filenames To Tags</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
</dui-window>
