<dui-window [closable]="true" [maximizable]="true" [minimizable]="true">
  <dui-window-header>
    {{ title }}
    <dui-window-toolbar>
      <dui-button-group>
        <dui-button textured icon="folder" (click)="openFolder()"
        >Open Folder
        </dui-button
        >
      </dui-button-group>
      <dui-button-group>
        <dui-button
          textured
          icon="edit"
          [disabled]="!haveData"
          (click)="showCleaner()"
        >Clean Filenames
        </dui-button
        >
        <dui-button
          textured
          icon="flag"
          [disabled]="!haveData"
          (click)="showTagExtrDialog()"
        >Tags from Filenames
        </dui-button
        >
        <dui-button *ngIf="haveChanges"
                    textured
                    icon="check"
                    (click)="saveAllChanges()"
        >Save Tags
        </dui-button
        >

      </dui-button-group>
      <dui-button-group float="right">
        <dui-input
          textured
          icon="search"
          placeholder="Search"
          round
          clearer
        ></dui-input>
      </dui-button-group>
    </dui-window-toolbar>
  </dui-window-header>
  <dui-window-content>
    <app-tracklist [datasource]="trackItems" (showDetail)="openDetailDialog($event)"
                   #tracklistComponent></app-tracklist>
  </dui-window-content>
  <!-- Info Dialog -->
  <dui-dialog [(visible)]="infoDialog" [minWidth]="300" #saved>
    <p>{{infoDialogMessage}}</p>
    <dui-dialog-actions *ngIf="infoDialogButtons">
      <dui-button (click)="closeInfoDialog()" primary>Ok</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
  <!-- Detail Dialog -->
  <dui-dialog *ngIf="detailDialog" [(visible)]="detailDialog" [width]="600">
    <app-detail [item]="trackItems[itemSelected]" (clickCover)="showArtFetcherDialog(trackItems[itemSelected])"
                #detailComponent></app-detail>
    <dui-dialog-actions>
      <dui-button style="margin-right: 200px;" (click)="findTagsOnline()">Find Tags online</dui-button>
      <dui-button closeDialog>Close</dui-button>
      <dui-button (click)="saveChanges()" primary>Save</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
  <!-- ArtFetcher Dialog -->
  <dui-dialog *ngIf="artFetchDialog" [(visible)]="artFetchDialog" [width]="700">
    <app-art-fetcher-view [resultSet]="fetchResult"
                          (selected)="onSelectArt(trackItems[itemSelected], $event)"></app-art-fetcher-view>
    <dui-dialog-actions>
      <dui-button style="margin-right: 50px" (click)="closeFetcherDialog()">Cancel</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
  <!-- Cleaner Dialog -->
  <dui-dialog *ngIf="cleanerDialog" [(visible)]="cleanerDialog" [minWidth]="800" #cleaner>
    <app-cleaner-view (change)="setDirtyText($event)"></app-cleaner-view>
    <dui-dialog-actions>
      <dui-button closeDialog>Close</dui-button>
      <dui-button (click)="cleanFilenames()" primary>Clean Files</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
  <!-- Filename to Tag Dialog-->
  <dui-dialog
    *ngIf="sampleItem"
    [(visible)]="tagsExtrDialog"
    [minWidth]="800"
    #tagsExtract
  >
    <h3>Filename To Tags</h3>
    <dui-form-row label="Filename">
      <dui-input readonly [ngModel]="sampleItem.filename"></dui-input>
    </dui-form-row>
    <dui-form-row label="Title">
      <dui-input readonly [ngModel]="sampleItem.titleTag"></dui-input>
    </dui-form-row>
    <dui-form-row label="Artist">
      <dui-input readonly [ngModel]="sampleItem.artistTag"></dui-input>
    </dui-form-row>
    <dui-dialog-actions>
      <dui-button closeDialog>Close</dui-button>
      <dui-button (click)="filenamesToTags()" primary>Convert Filenames To Tags</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
</dui-window>
