<dui-window [closable]="true" [maximizable]="true" [minimizable]="true">
  <dui-window-header>
    {{ title }}
    <dui-window-toolbar>
      <dui-button-group>
        <dui-button textured icon="folder" (click)="openFolder()">Open Folder</dui-button>
      </dui-button-group>
      <dui-button-group>
        <dui-button
          textured
          icon="edit"
          [disabled]="!haveData"
          (click)="showCleaner()"
          >Clean Filenames</dui-button
        >
        <dui-button
          textured
          icon="flag"
          [disabled]="!haveData"
          (click)="showTagExtrDialog()"
          >Tags from Filenames</dui-button
        >
      </dui-button-group>
      <dui-button-group float="right">
        <dui-input
          textured
          icon="search"
          placeholder="Search"
          round
          clearer
        ></dui-input>
      </dui-button-group>
    </dui-window-toolbar>
  </dui-window-header>
  <dui-window-content>
    <app-tracklist (showDetail)="showDetail($event)"></app-tracklist>
  </dui-window-content>
  <dui-dialog [(visible)]="detailDialog" [minWidth]="800" #detail>
    <app-detail *ngIf="itemSelected" [item]="itemSelected"></app-detail>
    <dui-dialog-actions >
      <dui-button closeDialog>Close</dui-button>
      <dui-button closeDialog primary>Save</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
  <dui-dialog [(visible)]="cleanerDialog" [minWidth]="800" #cleaner>
    <app-cleaner-view (change)="setDirtyText($event)"></app-cleaner-view>
    <dui-dialog-actions>
      <dui-button closeDialog>Close</dui-button>
      <dui-button (click)="cleanFilenames()" primary>Clean Files</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
  <dui-dialog [(visible)]="tagsExtrDialog" [minWidth]="800" #tagsExtract>
    <h3>Filename To Tags</h3>
    <div>
      <p>File: </p>
      <p>{{ sampleItem.filename }}</p>
    </div>
    <div>
      <p>Title: </p>
      <p>{{ sampleItem.tags.title }}</p>
    </div>
    <div>
      <p>Artist: </p>
      <p>{{ sampleItem.tags.artist }}</p>
    </div>
    <dui-dialog-actions>
      <dui-button closeDialog>Close</dui-button>
      <dui-button (click)="filenamesToTags()" primary>Convert Filenames To Tags</dui-button>
    </dui-dialog-actions>
  </dui-dialog>
</dui-window>
