/* You can add global styles to this file, and also import other style files */
dui-window-header {
  height: 115px !important;
  width: 100% !important;
  padding: 0 !important;

}

.toolbar {
  height: 90px !important;
  width: 100% !important;
}

dui-window-toolbar-container {
  position: static !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex!important;
  align-items: center !important;
  justify-content: space-around !important;
}

.artwork-cell {
  padding: 0!important;
  opacity: 0.7!important;
}
