/* You can add global styles to this file, and also import other style files */
dui-window-header {
  height: 115px !important;
}

.toolbar {
  height: 90px !important;
  width: 100% !important;
}

dui-window-toolbar-container {
  position: relative !important;
  height: 100% !important;
  padding: 0 !important;
}
